 .superParent{
    /* background-image: url('./evangadiForum.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat; */
   background-color: whitesmoke;
   padding: 100px;
} 

.superParent{
    display: flex;
    justify-content: center;
}
.superParent__description {
  width: 600px;
}
.superParent__signinPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: 1px solid black;
    background-color: white;
    margin-right: 25px;
   box-shadow: 0px 0px 4px 4px whitesmoke;
   padding: 10px;
}
.emailInput, .passwordInput{
    margin-bottom: 9px;
    padding: 10px;
    border-radius: 5px;
}
.superParent__signinPage__marginTop{
margin-top: 20px;
margin-left: 32px;
margin-bottom: 9px;
    background-color: orange;
    border: 1px solid orange;
    padding: 6px;
    width: 130px;
    cursor: pointer;
}
.superParent__description__button{
    width: 130px;
    padding: 5px;
    background-color: orange;
    border: 1px solid orange;
}

.validation-error{
    color: red;
    font-size: 20px;
}