.Footer{
    display: flex;
    justify-content: space-around;
    background: rgb(98,98,111);
    color: white;
   height:400px;
   margin-top: 19px;
}

.FooterPart1{
    margin-top: 45px;
}
.FooterPart1__facbooklogo{
width: 25px;
margin-right: 40px;

}
.FooterPart1_logo{
    margin-top: 2px;
}

.FooterPart1__instagramlogo{
    width: 20px;
    margin-right: 40px;
}
.FooterPart1__youtubelogo{
    width: 20px;
    margin-top: 8px;
}

.FooterPart2 li, .FooterPart3 li{
list-style: none;
padding: 8px;
}
.FooterPart2{
    margin-top: 20px;
}
.FooterPart3{
    display: flex;

}
.FooterPart3{
    margin-top: -1px;
}

.Footer .logo{
width: 150px;
height: 70px;
margin-top:328px;
position: absolute;
right: 8px;
/* bottom: 0; */
}