.answerPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.answerPage{
    background-color: whitesmoke;
    /* width: 1500px;
    margin: 0 auto; */
    box-shadow: 5px 5px  rgba(0,0,0,0.2); 
}
.communityAnswer {
    margin-right: 400px;
}
.correctMargin{
    
    margin-left: -200px;
    
}

.answerPage .correctWeight{
    font-weight: 500;
}
.answerPage .questionandAnaswer{
    font-weight: 400;
}
.userAndAnswer_answer .answers{
    font-weight: 500;
}
 .question{
    align-self: flex-start;
    margin-left: 358px;
 }
.communityAnswer{
      border-top: 1.9px solid rgba(0, 0, 0, .3);
     margin-top: 16px;
}
 .question h2 {
    margin: 0;
 }
 .question h3{
    margin: 0;
    margin-bottom: 15px;
 }


 .enterAnswe{
    height: 150px;
    width: 800px;
     border: 1.999px solid rgba(0, 0, 0, .2);
     border-radius: 4px;
     padding: 10px;
       padding-left: 20px;
       border-radius: 6px;
       font-size: 18px;
}

 form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#answerForm{
    margin-top: 40px;
}
  .question{
  padding-left: 204px;
}  

.questionDescription{
    padding-left: 0;
}
 .h1{
 border: none; 
border-bottom: 1.9px solid rgba(0, 0, 0, .3); 
 /* width: 800px; */
 padding-top: 60px;
 text-align: center;

} 
.h1 h1{
    margin-right: 350px;
    margin-top: -50px;

}

.postAnswer{
     margin-top: 25px;
     height: 35px;
     width: 160px;
    background-color:  #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 5px;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;
}
.answerPage_question{
    margin-top: 50px;
}

.userAndAnswer{
    display: flex;
    border-bottom: 1.9px solid rgba(0, 0, 0, .3);
}
.userAndAnswer_answer{
    flex-grow: 1
}
.userAndAnswer_icons{
    margin-left: 40px;
}
.userAndAnswer_Delete{
 margin-top: 10px;
  cursor: pointer;
}
.userAndAnswer_Edit{
 cursor: pointer;
  margin-top: 25px;
}
.userAndAnswer_Delete_arrow{
    margin-top: 48px;
}  





