.answerPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.answerPage{
    background-color: whitesmoke;
    /* width: 1500px;
    margin: 0 auto; */
    box-shadow: 5px 5px  rgba(0,0,0,0.2); 
}
 .question{
    align-self: flex-start;
    margin-left: 350px;
 }
.communityAnswer{
     /* border-top: 1px solid black; */
     margin-top: 16px;
}
 .question h2 {
    margin: 0;
 }
 .question h3{
    margin: 0;
    margin-bottom: 15px;
 }


 .enterAnswe{
    height: 150px;
    width: 800px;
}

 form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#answerForm{
    margin-top: 40px;
}
  .question{
  padding-left: 204px;
}  
 .h1{
 border: none; 
 border-bottom: 1px solid black;  
 /* width: 800px; */
 padding-top: 60px;
 text-align: center;

} 
.h1 h1{
    margin-right: 350px;
    margin-top: -50px;

}

.postAnswer{
    margin-top: 25px;
    width: 150px;
    height: 30px;
    background-color: dodgerblue;
    border: none;
    margin-bottom: 8px;
    cursor: pointer;
}
.answerPage_question{
    margin-top: 50px;
}

.userAndAnswer{
    display: flex;
    border-bottom: 1px solid black;
}
.userAndAnswer_answer{
    flex-grow: 1
}
.userAndAnswer_icons{
    margin-left: 40px;
}
.userAndAnswer_Delete{
 margin-top: 10px;
  cursor: pointer;
}
.userAndAnswer_Edit{
 cursor: pointer;
  margin-top: 25px;
}
.userAndAnswer_Delete_arrow{
    margin-top: 48px;
}  





