.homePage{
display: flex;
justify-content: space-around;
}

.homePage__askquestion{
 height: 35px;
 width: 160px;
    background-color: #0D6EFD;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    color: white;
}
.homePage h1{
  margin-top: -16px;

}
.parent .questions{
  font-weight: 550;
}
.homePage .welcome {
  font-weight: 550;
}

.parent {
  display: flex;
  flex-direction: column;
  
}
.parent{
  width: 60%;
  margin: 0 auto;
}
.parent_question {
   border-bottom: 1.9px solid rgba(0, 0, 0, .3);
   padding-bottom: 6px;
}
.userandquestion{
  display: flex;
 
}
.userandquestion__email, .userandquestion__question {
font-weight: 500;
}

.user{
  display: flex;
  flex-direction: column;
}
.userandquestion{
 border: none; 
 border-bottom: 1.9px solid rgba(0, 0, 0, .3);

 width: 100%;
}
.arrowForward{
  /* align-self: "flex-end" ; */
  display: flex;
  flex-direction: column;

  position: absolute;
  right: 380px;
  margin-top: 40px;
}
.delete{
  margin-top: -18px;
  cursor: pointer;
}
.edit{
  cursor: pointer;
  margin-top: 25px;
  
}
.arrowForward_child{
  margin-top: 20px;
}
.userandquestion__question{
  margin-left: 19px;
  margin-top: 33px;
}

.userandquestion__email{
  margin-top: -16px;
  margin-left: 8px;
}