.homePage{
display: flex;
justify-content: space-around;
}

.homePage__askquestion{
    height: 30px;
    width: 150px;
    background-color: dodgerblue;
    border: none;
    text-decoration: none;
  
}
.homePage h1{
  margin-top: -20px;
}


.parent {
  display: flex;
  flex-direction: column;
  
}
.parent{
  width: 60%;
  margin: 0 auto;
}
/* .parent hr{
  width: 70%;
} */
.userandquestion{
  display: flex;
}

.user{
  display: flex;
  flex-direction: column;
}
.userandquestion{
 border: none; 
 border-bottom: 1px solid black;  
 width: 100%;
}
.arrowForward{
  align-self: "flex-end" ;
  position: absolute;
  right: 380px;
  margin-top: 40px;
  
}

.userandquestion__question{
  margin-left: 19px;
  margin-top: 33px;
}

.userandquestion__email{
  margin-top: -16px;
  margin-left: 8px;
}