.signupPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupPage{
    /* border: 1px solid black; */
    background-color: white; 
    box-shadow: 10px 10px 5px  rgba(0,0,0,0.04);
    padding: 40px;
    margin-right: 10px;
    width: 500px;
    
}
.signupPage .joinNetwork {
    font-weight: 600;
}
.lastName{
margin-left: 8px;
}
.agreeandJoin{ 
    width: 150px;
    height: 40px;
    background-color:  #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 5px;
    color: white;
    width: 400px;
    margin-top: 8px;
    font-size: 16px;
}
.signupPage__userData{
    padding: 7px;
}
.firstNameAndLastName{

}
.firstName{
   margin-left: 25px;
   width: 187px;
   height: 25px;
}
.lastName{
    margin-right: 25px;
    width: 187px;
     height: 25px;
}
.email, .userName, .password{
    padding: 7px;
    width: 400PX;
    border: 1.9px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
     height: 25px;
}
.firstName, .lastName {
    padding: 7px;
    border-radius: 4px;
    border: 1.9px solid rgba(0, 0, 0, .3);

    
}

