.signupPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupPage{
    border: 1px solid black;
    background-color: dodgerblue;
    padding: 20px;
    margin-right: 10px;
    width: 500px;
}

.lastName{
margin-left: 8px;
}

.agreeandJoin{
    height: 25px;
    background-color: orange;
    border: none;
    width: 100%;
    margin-left: 7px;
    cursor: pointer;
}
.signupPage__userData{
    padding: 7px;
}
.firstNameAndLastName{

}
.firstName{
   margin-left: 66px;
   width: 137px;
}
.lastName{
    margin-right: 66px;
    width: 137px;
}
.email, .userName, .password{
    padding: 7px;
    width: 300PX;
    border-radius: 4px;
}
.firstName, .lastName {
    padding: 7px;
    border-radius: 4px;
  
    
}

