.questionPart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputarea{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    align-items: center;
}

.inputarea__title, .inputarea__description{
    width: 60%;
     border: 1.9px solid rgba(0, 0, 0, .3);
     border-radius: 4px;
}

.inputarea__description{
    height: 150px;
    margin-top: 8px;
       border: 1.999px solid rgba(0, 0, 0, .2);
              padding: 10px;
       padding-left: 20px;
       border-radius: 6px;
        font-size: 18px;
}

.questionPart .steps{
font-weight: 500;
}
.inputarea__title{
       height: 30px;
       border: 1.999px solid rgba(0, 0, 0, .2);
       padding: 10px;
       padding-left: 20px;
       border-radius: 6px;
       font-size: 18px;
}
.questionPart_heading{
    margin-bottom: 0;
    padding-top: 80px;
}
.postQuestion{
    margin-top: 50px;
   height: 35px;
 width: 160px;
    background-color:  #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}  