.questionPart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputarea{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    align-items: center;
}

.inputarea__title, .inputarea__description{
    width: 60%;
}

.inputarea__description{
    height: 150px;
    margin-top: 8px;
}

.inputarea__title{
    height: 30px;
}

.postQuestion{
    margin-top: 50px;
    background-color: dodgerblue;
    border: none;
    height: 30px;
    cursor: pointer;
}